.nav-contaier{
    align-items: center;
    display: flex;

}
nav{
    z-index: 1000; /* Ensure the navbar stays on top */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    max-width: 75%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10rem;
    border-end-end-radius: 2rem;
    border-end-start-radius: 2rem;
}
.navbar.hide{
    transform: translateY(-100%);
}
.navbar.show{
    transform: translateY(0);
}

.hero{
    max-height: 3rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem 3rem;
    text-align: center;
    align-items: center;
}

.hero-title a{
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}
.hero-links{
    margin: 0 3rem;
    position: relative;
}
.hero-links ul{
    display: flex;
    
    list-style: none;
}
.hero-links ul li{
    margin: 0 2rem;
    position: relative;
}
.hero-links ul li a{
    text-decoration: none;
    color: #6580f4;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero-links ul li a:hover{
    background-color: rgba(0, 123, 255, 0.1);
    border-radius: 1rem;
    
}
.hero-links ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #6580f4;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}
.hero-links ul li a:hover::after{
    width: 100%;
    left: 0;
    background: #6580f4;
}

.btn a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border: 0.05rem solid #6580f4;
    background-color: #6580f4;
   font-weight: 500;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btn a:hover{
    background-color: white;
    border: 0.05rem solid #6580f4;
    color: #6580f4;
    
}

